$small: 420px;
$medium: 700px;
$large: 1024px;
$xlarge: 1600px;

$electricBlue: #87f2fd;
$savoyBlue: #3f49f4;
$mango: #f5b700;
$pink: #e56399;
$delft: #34435e;

$base-padding: 0.75rem;
$base-margin: 0.75rem;

$base-border-thickness: 1px;
$base-border-radius: 25px;

$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-large: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
