@import './css/variables.scss';

html {
    body {
        margin: 0;
        padding: 0;
    }
    @media (min-width: $medium) {
      overflow: hidden;
      body {
        touch-action: none;
      }
    }
    @media (max-width: $medium) {
      body {
        height: 100%;
        overscroll-behavior: none;
      }
    }
    font-size: 1vw;
  }


section {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.intro {
    background: linear-gradient(110deg, $savoyBlue 66%, $electricBlue 34%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: normal;
    font-family: Arial, Helvetica, sans-serif;

    .inner-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      width: 100%;
      box-sizing: border-box;
      padding: 0 8rem;
      margin-bottom: 10rem;
      font-family: inherit;

      article {
        margin-left: 4rem;
        z-index: 2;
        font-family: inherit;
        h1 {
          font-size: 4rem;
          color: $electricBlue;
          font-family: inherit;
          margin: 1rem;
        }

        p {
          width: 30vw;
          font-size: 2rem;
          color: $delft;
          margin: 1rem;

          span {
            color: $electricBlue;
          }
        }
      }
    

      figure {
        margin: 0;
        img {
          width: 24rem;
          height: 24rem;
          margin-right: 11rem;
          border-radius: 3rem;
          filter: drop-shadow(0 0 3rem darken($pink, 10%));
        }
      }
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-left: 4rem;
        padding-right: 4rem;
        margin-top: 2rem;
        margin-bottom: 6rem;

        img {
          position: relative;
          left: 3rem;
          top: 0.5rem;
          width: 4rem;
          height: 4rem;
        }  

        >nav {
          padding: 0.5rem;
          background: $delft;
          border-radius: 4rem;
            display: flex;
            justify-content: space-between;
            width: 60%;

            >div {
                align-items: center;
                display: flex;
            }
            ul {
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                margin-right: 2rem;

                >li {
                    margin-right: 1rem;
                    margin-left: 1rem;
                    >a {
                      text-decoration: none;
                      color: $electricBlue;
                      font-size: large;
                      font-weight: bold;
                      padding: 1rem;
                      &:hover {
                        background-color: $electricBlue;
                        border-radius: 3rem;
                        color: $delft;
                      }
                    }
                }
            }
        }
    }
}